[Unit]
Description=Nix — process scheduler outputs every 5 minutes
After=network-online.target

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30
Persistent=true

[Install]
WantedBy=timers.target
